Button {
    -fx-font-size: 40;
    -fx-border-width: 0;
    -fx-background-color: transparent;

}

#background{
    -fx-background-image: url("~/Images/bg.jpg");
}

Button:hover {
    -fx-text-fill: #b3b6b6;
}


Label{
    -fx-font-size: 80;
}

#option{

}