#background{
    -fx-background-image: url("/images/fonds/bg-menu.png");
}

Button {
    -fx-font-size: 40;
    -fx-border-width: 0;
    -fx-background-color: transparent;

}


.choix{
    -fx-effect: dropshadow( one-pass-box,black,10,2,0,0);
    -fx-text-fill: #525151;
}

.choix:hover {
    -fx-text-fill: #b3b6b6;
    -fx-border-width: 1;
}


Label{
    -fx-font-size: 80;
    -fx-border-color: #949494;
    -fx-border-width: 5;
    -fx-text-fill: #525151;

    -fx-effect: dropshadow( one-pass-box,black,10,2,0,0);
}

#option{

}

#boutonJouer{

}