Button {
    -fx-font-size: 40;
    -fx-border-width: 0;
    -fx-background-color: transparent;

}

#background{
    -fx-background-image: url("/images/fonds/bg-menu.png");
}

Button:hover {
    -fx-text-fill: #b3b6b6;
}

.niveau{
            -fx-background-color:
                #786d6d,
                linear-gradient(#b3b3b3 50%, c2bcbc 100%);
            -fx-background-radius: 8,7,6;
            -fx-background-insets: 0,1,2;
            -fx-text-fill: black;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.niveau:hover {
    -fx-text-fill: #737373;

}

Label{
    -fx-font-size: 80;
}


